{%- assign item = section.settings -%}
{%- assign grid = item.items -%}
{%- assign name_collection = item.collection -%}
{%- assign collection = collections[name_collection] -%}
{%- assign length = item.limit | plus: 0 -%}
<div id="shopify-section-b462771a-dd64-4463-a87c-7c22ec85f4d7" class="shopify-section index-section"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.css">

<section class="bestSellers-carousel relative section-b462771a-dd64-4463-a87c-7c22ec85f4d7">
  <h2>Best Sellers</h2>
  <div class="swiper-container swiper--b462771a-dd64-4463-a87c-7c22ec85f4d7 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" id="carousel--b462771a-dd64-4463-a87c-7c22ec85f4d7">
    <div class="swiper-wrapper" id="swiper-wrapper-ec66abcb1cd2fbc3" aria-live="off" style="transition-duration: 1000ms; transform: translate3d(-1271.63px, 0px, 0px);"><div class="swiper-slide slide--e038cef1-0897-4e1c-b88d-f96468d40434 swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="1 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/cosmos-in-black">
          <img src="//www.drapery-silk.com/cdn/shop/products/13_96304871-594b-401b-8982-5867ac5938c6.jpg?v=1618293088" class="w-100 lazyload visible_lazy">
          <h3>Saree1</h3>
          <p><span class="money">Rs. 37,800.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--33a00dc0-3811-4667-ab2b-40fa1d06a5de swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="2 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/the-whimsical-garden">
          <img src="//www.drapery-silk.com/cdn/shop/files/Untitled-1_0006_29-05-24_Drapery_B0404.jpg?v=1723398983" class="w-100 visible_lazy lazyloaded">
          <h3> Saree2 </h3>
          <p> <span class="money">Rs. 42,550.00</span> </p>
          </a>
        </div>
      <div class="swiper-slide slide--42f8cf15-72a5-4ddb-8309-2fdd1a6820fa swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="3 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/the-mystic-feathers">
          <img src="//www.drapery-silk.com/cdn/shop/files/17-09-24-Drapery-Festive-0476.jpg?v=1728386620" class="w-100 visible_lazy lazyloaded">
          <h3> Saree3 </h3>
          <p>
            <span class="money">Rs. 28,090.00</span>
          </p>
          </a>
      </div>
      <div class="swiper-slide slide--3e44456b-f92b-42b0-abb4-309dd2c90e02 swiper-slide-duplicate" data-swiper-slide-index="5" role="group" aria-label="4 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/old-school-silk-saree-weave">
          <img src="//www.drapery-silk.com/cdn/shop/products/139-1_f3db1922-c179-4523-8ce1-08c291b904bd_1.jpg?v=1614862927" class="w-100 visible_lazy lazyloaded">
            <h3> SAREE1 </h3>
          <p> <span class="money">Rs. 31,500.00</span> </p> 
        </a>
      </div>
      <div class="swiper-slide slide--5f21e300-2390-4069-b1d7-2d876bb91f8d swiper-slide-prev" data-swiper-slide-index="0" role="group" aria-label="5 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/the-dual-pallu-in-velocity-blue">
          <img src="//www.drapery-silk.com/cdn/shop/products/Model-Advt17-12-20Drapery5E.2.993_8581f5f4-f211-4c10-9c12-3843bcd46804.jpg?v=1618469961" class="w-100 visible_lazy lazyloaded">
          <h3> Saree4 </h3>
          <p> <span class="money">Rs. 33,100.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--821df7b7-34e9-4af9-bb69-578ced69ae91 swiper-slide-active" data-swiper-slide-index="1" role="group" aria-label="6 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/clown-fish-woven-in-gold-zari-with-antique-zari-border">
          <img src="//www.drapery-silk.com/cdn/shop/files/218.A.jpg?v=1698579477" class="w-100 visible_lazy lazyloaded">
          <h3> Saree5 </h3>
          <p> <span class="money">Rs. 47,490.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--e038cef1-0897-4e1c-b88d-f96468d40434 swiper-slide-next" data-swiper-slide-index="2" role="group" aria-label="7 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/cosmos-in-black">
          <img src="//www.drapery-silk.com/cdn/shop/products/13_96304871-594b-401b-8982-5867ac5938c6.jpg?v=1618293088" class="w-100 visible_lazy lazyloaded">
          <h3> Saree6 </h3>
          <p> <span class="money">Rs. 37,800.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--33a00dc0-3811-4667-ab2b-40fa1d06a5de" data-swiper-slide-index="3" role="group" aria-label="8 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/the-whimsical-garden"> <img src="//www.drapery-silk.com/cdn/shop/files/Untitled-1_0006_29-05-24_Drapery_B0404.jpg?v=1723398983" class="w-100 visible_lazy lazyloaded">
          <h3> Saree7 </h3>
          <p> <span class="money">Rs. 42,550.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--42f8cf15-72a5-4ddb-8309-2fdd1a6820fa" data-swiper-slide-index="4" role="group" aria-label="9 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/the-mystic-feathers">
          <img src="//www.drapery-silk.com/cdn/shop/files/17-09-24-Drapery-Festive-0476.jpg?v=1728386620" class="w-100 visible_lazy lazyloaded">
          <h3> Saree8 </h3>
          <p> <span class="money">Rs. 28,090.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--3e44456b-f92b-42b0-abb4-309dd2c90e02" data-swiper-slide-index="5" role="group" aria-label="10 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/old-school-silk-saree-weave">
          <img src="//www.drapery-silk.com/cdn/shop/products/139-1_f3db1922-c179-4523-8ce1-08c291b904bd_1.jpg?v=1614862927" class="w-100 visible_lazy lazyloaded">
          <h3> Saree9 </h3>
          <p> <span class="money">Rs. 31,500.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--5f21e300-2390-4069-b1d7-2d876bb91f8d swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="11 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/the-dual-pallu-in-velocity-blue"> 
          <img src="//www.drapery-silk.com/cdn/shop/products/Model-Advt17-12-20Drapery5E.2.993_8581f5f4-f211-4c10-9c12-3843bcd46804.jpg?v=1618469961" class="w-100 visible_lazy lazyloaded">
          <h3> Saree10 </h3>
          <p> <span class="money">Rs. 33,100.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--821df7b7-34e9-4af9-bb69-578ced69ae91 swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" aria-label="12 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/clown-fish-woven-in-gold-zari-with-antique-zari-border">
          <img src="//www.drapery-silk.com/cdn/shop/files/218.A.jpg?v=1698579477" class="w-100 visible_lazy lazyloaded">
          <h3> Saree11 </h3>
          <p> <span class="money">Rs. 47,490.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--e038cef1-0897-4e1c-b88d-f96468d40434 swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="13 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/cosmos-in-black">
          <img src="//www.drapery-silk.com/cdn/shop/products/13_96304871-594b-401b-8982-5867ac5938c6.jpg?v=1618293088" class="w-100 visible_lazy lazyloaded">
          <h3> Saree12 </h3> 
          <p> <span class="money">Rs. 37,800.00</span> </p>
          </a>
      </div>
      <div class="swiper-slide slide--33a00dc0-3811-4667-ab2b-40fa1d06a5de swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="14 / 14" style="width: 318.205px; margin-right: 40px;">
        <a href="/products/the-whimsical-garden">
          <img src="//www.drapery-silk.com/cdn/shop/files/Untitled-1_0006_29-05-24_Drapery_B0404.jpg?v=1723398983" class="w-100 visible_lazy lazyloaded">
          <h3> Saree13 </h3>
          <p> <span class="money">Rs. 42,550.00</span> </p>
          </a>
      </div>
    </div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
  </div>
</section>

<style>
.bestSellers-carousel {
  position: relative;
  overflow: hidden;
  margin: 100px auto;
}
.bestSellers-carousel .swiper-container {
  overflow:hidden;
}
.bestSellers-carousel a, .bestSellers-carousel a:hover {
  color: #A3A3A3;
  text-decoration: none;
}
.bestSellers-carousel h3, .bestSellers-carousel h2 {
  text-transform: uppercase;
}
.bestSellers-carousel h2 {
  text-align: center;
  margin-bottom: 40px;
}
.bestSellers-carousel .swiper-slide h3 {
  color: #231F20;
  margin-top: 20px;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".swiper--b462771a-dd64-4463-a87c-7c22ec85f4d7", {
    slidesPerView: 3.9,
    centeredSlides: true,
    loop: true,
    spaceBetween: 40,
    speed: 1000,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    breakpoints: {
      320: {
        slidesPerView: 1.2,
        spaceBetween: 20
      },
      640: {
        slidesPerView: 2.2,
        spaceBetween: 40
      },
      1000: {
        slidesPerView: 3.9,
        spaceBetween: 40
      }
    }
  });
</script>

</div>
<style type="text/css">
  #section-1565086074531{
    padding:50px 0px 0px 0px;
    margin:0px 0px 0px 0px;
  }

  @media (max-width: 1024px){
    #section-1565086074531{
      padding:50px 0px 0px 0px;
      margin:0px 0px 0px 0px;
    }
  }
</style>
</div>
<style type="text/css">
  #section-{{ section.id }}{
    padding:{{ section.settings.padding }};
    margin:{{ section.settings.margin }};
  }
  @media (max-width: 1024px){
    #section-{{ section.id }}{
      padding:{{ section.settings.padding_mobi }};
      margin:{{ section.settings.margin_mobi }};
    }
  }
  #section-{{ section.id }}.section-electrolic .sp-block-title .sp-title{
    border-bottom: 1px solid {{ section.settings.border_color }};
  }
</style>

{% schema %}
  {
    "name": "Products",
	  "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Fullwidth size",
        "default": false
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border color",
        "default": "#e1e1e1"
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Section Padding",
        "default": "0px 0px 0px 0px"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Section margin",
        "default": "0px 0px 0px 0px"
      },
      {
        "type": "header",
        "content": "Mobile"
      },
      {
        "type": "text",
        "id": "padding_mobi",
        "label": "Section Padding",
        "default": "0px 0px 0px 0px"
      },
      {
        "type": "text",
        "id": "margin_mobi",
        "label": "Section margin",
        "default": "0px 0px 0px 0px"
      },
      {
        "type": "header",
        "content" : "Content"
      },
      {
        "type":"select",
        "id":"effect",
        "label":"Effect",
        "options":[
            {"value":"none","label":"No effect"},
            {"value":"fade","label":"fade"},
            {"value":"fade-up","label":"fade-up"},
            {"value":"fade-down","label":"fade-down"},
            {"value":"fade-left","label":"fade-left"},
            {"value":"fade-right","label":"fade-right"},
            {"value":"fade-up-right","label":"fade-up-right"},
            {"value":"fade-up-left","label":"fade-up-left"},
            {"value":"fade-down-right","label":"fade-down-right"},
            {"value":"fade-down-left","label":"fade-down-left"},
            {"value":"flip-up","label":"flip-up"},
            {"value":"flip-down","label":"flip-down"},
            {"value":"flip-left","label":"flip-left"},
            {"value":"flip-right","label":"flip-right"},
            {"value":"zoom-in","label":"zoom-in"},
            {"value":"zoom-in-up","label":"zoom-in-up"},
            {"value":"zoom-in-down","label":"zoom-in-down"},
            {"value":"zoom-in-left","label":"zoom-in-left"},
            {"value":"zoom-in-right","label":"zoom-in-right"},
            {"value":"zoom-out","label":"zoom-out"},
            {"value":"zoom-out-up","label":"zoom-out-up"},
            {"value":"zoom-out-down","label":"zoom-out-down"},
            {"value":"zoom-out-left","label":"zoom-out-left"},
            {"value":"zoom-out-right","label":"zoom-out-right"}
        ]
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show Title Block",
        "default": true
      },
      {
        "type": "textarea",
        "id": "text1",
        "label": "Title",
        "default": "OUR COLLECTIONS"
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Small description",
        "default": "SUMMER 2019",
		    "info": "Empty field = hide field"
      },
      {
        "type": "textarea",
        "id": "text3",
        "label": "Big description",
		    "info": "Empty field = hide field. Not work with slider mode"
      },
      {
        "type": "header",
        "content": "Show all button"
      },
      {
        "type": "checkbox",
        "id": "use_title_as_link",
        "label": "Use title as link to the collection",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show button",
        "default": false
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
		    "default": "SHOW ALL"
      },
      {
        "type": "header",
        "content": "Products settings"
      },
      {
        "label": "Collection",
        "id": "collection",
        "type": "collection"
      },
      {
        "type": "text",
        "id": "limit",
        "label": "Items Length. Integer",
        "default": "4"
      },
      {
        "type": "select",
        "id": "items",
        "label": "Products In Row ( No Carousel )",
        "options": [
          { "value": "6", "label": "2" },
          { "value": "4", "label": "3" },
          { "value": "3", "label": "4" },
          { "value": "51", "label": "5" }
        ],
        "default": "3",
        "info": "For screen size > 1024"
      },
      {
        "type": "header",
        "content": "By Default Carousel"
      },
      {
        "type": "checkbox",
        "id": "default_carousel",
        "label": "Default Carousel",
        "default": false
      },
      {
        "type": "select",
        "id": "toshow",
        "label": "Items in row",
        "options": [
          { "value": "2", "label": "2" },
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" },
          { "value": "5", "label": "5" },
          { "value": "6", "label": "6" }
        ],
        "default": "4",
        "info": "For screen size > 1024"
      },
      {
        "type": "select",
        "id": "step",
        "label": "Slides To Scroll",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "module_autoplay",
        "label": "Auto-rotate slides",
        "default": false
      },
      {
        "type": "select",
        "id": "delay_time",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      }
	],
    "presets": [
      {
        "name": "Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}